In [1]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
import category_encoders as ce

# Q1: Apply Ordinal encoding.

In [2]:
enc = OrdinalEncoder()

In [3]:
X = pd.DataFrame({"career_ladder":['1st','2nd','3d','4th','5th','6th','7th','8th','9th']})
X

  career_ladder
0           1st
1           2nd
2            3d
3           4th
4           5th
5           6th
6           7th
7           8th
8           9th

In [4]:
enc.fit(X)

OrdinalEncoder()

In [5]:
enc.categories_

[array(['1st', '2nd', '3d', '4th', '5th', '6th', '7th', '8th', '9th'],
       dtype=object)]

In [6]:
enc.transform(X)

array([[0.],
       [1.],
       [2.],
       [3.],
       [4.],
       [5.],
       [6.],
       [7.],
       [8.]])

# Q2: Apply One hot encoding.

In [7]:
enc = OneHotEncoder(handle_unknown='ignore')

In [8]:
X = df = pd.DataFrame({'career_ladder':['1st','2nd','3d','4th','5th','6th','4th','8th','9th']})

In [9]:
enc.fit(X)

OneHotEncoder(handle_unknown='ignore')

In [10]:
enc.categories_

[array(['1st', '2nd', '3d', '4th', '5th', '6th', '8th', '9th'],
       dtype=object)]

In [11]:
enc.transform(X).toarray()

array([[1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1.]])

# Q3: Apply Frequency Encoding.

In [12]:
X = pd.DataFrame({"career_ladder":['1st','2nd','3d','4th','5th','6th','7th','8th','9th','9th']})
X

  career_ladder
0           1st
1           2nd
2            3d
3           4th
4           5th
5           6th
6           7th
7           8th
8           9th
9           9th

In [13]:
ce.count.CountEncoder(cols=['career_ladder']).fit(X).transform(X)

   career_ladder
0              1
1              1
2              1
3              1
4              1
5              1
6              1
7              1
8              2
9              2

# Q4: Apply Binary Encoding.

In [14]:
X = pd.DataFrame({"career_ladder":['1st','2nd','3d','4th','5th','6th','7th','8th','9th']})
X

  career_ladder
0           1st
1           2nd
2            3d
3           4th
4           5th
5           6th
6           7th
7           8th
8           9th

In [15]:
ce.binary.BinaryEncoder(cols=['career_ladder']).fit(X).transform(X)

   career_ladder_0  career_ladder_1  career_ladder_2  career_ladder_3
0                0                0                0                1
1                0                0                1                0
2                0                0                1                1
3                0                1                0                0
4                0                1                0                1
5                0                1                1                0
6                0                1                1                1
7                1                0                0                0
8                1                0                0                1